p {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  padding-right: 270px;
}

h1 {
font-family: georgia,sans-serif;
font-size: 30px;
}

h2 {
  font-family: helvetica;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 5px;
}

#byline {
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}

#caption {
  color: black;
  font-family: georgia,"timesnewroman";
  font-size: 10px;
}

#credits {
  color: grey;
  font-style: italic;
  font-size: 10px;
}

#content {
  padding-left: 35px;
}

blockquote {
  font-size: 30px;
  color: grey;
  font-weight: lighter;
  font-family: georgia,"timesnewroman",helvetica;
  margin-right: 225px;
  padding-left: 30px;
  padding-right: 10px;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#relateditems {
  font-size: 40px;
  padding-left: 350px;
  background-color: #010D4E;
  color: white;
  width: 650px;
  margin-bottom: 5px;
}

#readmore {
  font-size: 16px;
}

#secondlink {
  text-align: right;
  padding-right: 230px;
  bottom: 17.5px;
  position: relative;
  }

  #fourthlink {
    padding-left: 525px;
    position: relative;
    bottom: 17.5px;
  }

#belowmasthead {
  color: grey;
  font-size: 24px;
  padding-top: 0px;
}
